
<section id="home_left_panel" class="home_left">
	<div class="home_avatar">
		<img src="imgs/logo.png" class="mcenter"/>
	</div>
	<div class="home_left_username">
		<span class="mcenter"><%=org.orgName%></span>
	</div>
	<div class="home_star">
		<div class="mcenter">
			<span><a style="color:#fff;" target="_blank" href="<%=org.weiboURl%>">+ 关注微博</a></span>
			<span>=</span>
		</div>
	</div>
	<div class="home_intro">
		<% for(var i in org.introduction){ %>
			<p>
				<%=org.introduction[i]%>
			</p>
		<% } %>
	</div>
	<div class="home_left_starlink">
		<div class="mcenter">
			<a href="<%=org.weiboURl%>"><img src="imgs/weibo.png"/></a>
			<a href="<%=org.gitHubURL%>"><img src="imgs/github.png"/></a>
		</div>
	</div>
	<div class="home_fllow_star">
		<div class="mcenter">
			<span><%=org.starred%></span>
			<span><%=org.fllowers%></span><br />
			<span class="home_star_top">starred</span>
			<span class="home_star_top">fllowers</span>
		</div>
	</div>
	<div class="home_fllow_count">
		<div class="mcenter">
			文章：<%=count%> 
			字数：<%=org.word_count%>
		</div>
	</div>
	<div class="home_article_list">
		<div>
			<span>我的文章</span>
			<ul>
				<% for(var i in sugPages){ %>
					<% var title = sugPages[i].title.length > 27 ? sugPages[i].title.substring(0, 27): sugPages[i].title%>
					<li>
						<i></i>
						<a href="/detail?id=<%=sugPages[i].id%>">
							<span><%=title%></span>
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</section>
<div id="home_left_control" class="home_left_controller">
	<div class="home_left_del"></div>
</div>