
<section id="home_container" class="home_container_div">
	 <div class="home_pages_list">
	 	<div class="home_pages_tip">
	 		<div>文章列表</div>
	 		<div class="home_pages_tip_hr">
	 			<div class="fl"></div>
	 			<div></div>
	 		</div>
	 	</div>
	 	<% for(var i = 0; i < pages.length; i++){ %>
		 	 <div class="home_pages_page">
		 	 	<div>
		 	 		<a href="/detail?id=<%=pages[i].id%>"><%=pages[i].title%></a>
		 	 	</div>
		 	 	<div>
		 	 		<%=pages[i].introdu%>
		 	 	</div>
		 	 	<div>
		 	 		<span><%=pages[i].author%></span>
		 	 		<span><%=pages[i].tags%></span>
		 	 		<span><%=pages[i].time%></span>
		 	 	</div>
		 	 </div>
		 	 <div class="home_pages_hr"></div>
	 	 <% } %>
	 </div>
	 <div class="home_photo_list">
	  	<%for(var i = 0; i < picpages.length; i++){%>
	  	<div>
			<a style="color:#000;" href="/detail?id=<%=picpages[i].id%>"><img src="<%=picpages[i].picurl%>"/></a>
			<a style="color:#000;" href="/detail?id=<%=picpages[i].id%>"><p><%=picpages[i].title%></p></a>
		</div>
		<%}%>
	 </div>
	 <!--footer-->
   	 <% include ../common/footer %>
</section>